@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" style="background-color:transparent;color:orangered">Hello, @ViewBag.DisplayName</a>
        </li>
        <li><a style="background-color:transparent;color:orangered" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }  
}  
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a style="background-color:transparent;color:orangered" href="@Url.Action("Register", "Account")">Register</a></li>
        <li><a style="background-color:transparent;color:orangered" data-toggle="modal" data-target="#Login" href="#">Login</a></li>
    </ul>
}
