@model rcate_FinancialPortal.Models.CreateMemberViewModel
@{
    ViewBag.Title = "CreateHouseholdMemberConfirmation";
}

<center>

    <h2>Your invitation has been sent!</h2>
    
    <br />

    <h5>The link you have sent will expire after 24 hours, so please inform the recipient before then.</h5>

</center>

