@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<center>
    <hgroup class="title">
        <h1>
            <b>@ViewBag.Title</b>
        </h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</center>
	
