@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="jumbotron" style="background-color:orangered;color:white">
        <h1 style="text-align:center"><b>Our Story</b></h1>
    </div>
    <div class="row" style="padding-top:60px;padding-bottom:60px">
        <div class="col-md-3" style="padding-right:30px">
            <img src="~/Assets/Images/Finance-Orange.png" style="width:260px;height:240px" />
        </div>
        <div class="col-md-9">
            <h4 style="word-spacing:2px">
                <b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                    <br />
                    <br />

                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </b>
            </h4>
        </div>
    </div>
</div>
